/**
 *
 * STYLES: Hero Block 002 
 *
 */

#hero-block-mfw-002 {

	#hero-content {
	 	width: 100vw;
	 	height: 93vh;
		background-color: rgba(darken($cg-primary, 18%), .6);

	}

 	.hero-info-box {
		// border: 1rem solid red;
		padding-top: 3rem;
		font-family: $primary-font;
		@include border-top-left-radius(45px);
		@include border-bottom-right-radius(45px);
		
		color: lighten($cg-secondary, 20%);
		.lead {
			color: lighten($cg-secondary, 20%);
			padding-bottom: 3rem;
			font-size: 2rem;
			line-height: 2rem;
		}
 	}
 }







































